:root {
    --prim-clr: black;
    --secon-clr: white;
    --tert-clr: #7D1111;

    --font-1: 'Josefin Sans', sans-serif;
    --font-2: 'Space Mono', monospace;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
span,
i, 
li, 
button {
    font-family: var(--font-1);
}

header {
    display: flex;
    flex-direction: row;
    padding: 1.2em 0 0.5em 0;
    background-color: #fff5f6;
}

.menu {
    width: 100%;
    display: flex;
}

.menu-menu {
    width: 25%;
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
    font-size: 1.4em;
}

.menu-name {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.menu-bag {
    width: 25%;
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
    font-size: 1.4em;
}

.menu i {
    position: relative;
    color: #7D1111;
}

.contact-link-home {
    color: black;
    text-decoration: none;
}

.container {
    background-color: #fff5f6;
    display: flex;
    flex-direction: column; 
}

.container-vars {
    display: flex;
    flex-direction: row;
}

.cake-img {
    padding: 2em;
    height: 800px;
    width: 50%;
}

.cake-img img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.cake-vars {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.cake-descp {
    padding: 2em
}

.cake-descp h2 {
    padding-bottom: 1em;
}

.cake-design {
    display: flex;
    flex-direction: row;
    padding: 1em 0 2em 0;
    width: 60%;
}

.cake-design h3 {
    margin-right: 2em;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    width: 50%;
}

.cake-design select {
    width: 50%;
}

.cake-flavours {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
    width: 60%;
}

.cake-flavours h3 {
    margin-right: 2em;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    width: 50%;
}

.cake-flavours select {
    width: 50%;
}

.cake-fillings {
    display: flex;
    flex-direction: row;
    width: 60%;
    padding-bottom: 2em;
}

.cake-fillings h3 {
    margin-right: 2em;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    width: 50%;
}

.cake-fillings select {
    width: 50%;
}

.cake-colours {
    width: 100%;
}

.colour-head {
    display: flex;
    width: 60%;
    align-items: center;
    margin: auto;
    padding-bottom: 1.8em;
}

.colour-head h3 {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;
}

.colour-select {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 60%;
    padding-bottom: 2em;
}

.colour-select select {
    margin: auto;
    width: 47%;
    font-size: 0.9em;
}

.checkout {
    display: flex;
    flex-direction: row;
    padding: 1em 0 1em 0;
    align-items: center;
}

footer {
    padding: 1.2em 0em 1.2em;
    border-top: 1px solid black;
    background-color: #fff5f6;
}

footer a {
    text-decoration: none;
    padding: 0 1.5em 0;
    position: relative;
    color: black;
    color: var(--tert-clr);
    font-weight: bolder;
}

.contact-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: currentColor;

    transform: scaleX(0);
    transition: transform 200ms ease-in;
}

.contact-link:hover::after {
    transform: scaleX(0.6);
}