:root {
    --prim-clr: black;
    --secon-clr: white;
    --tert-clr: #7D1111;

    --font-1: 'Josefin Sans', sans-serif;
    --font-2: 'Space Mono', monospace;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
span,
i, 
li, 
button {
    font-family: var(--font-1);
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    padding: 1.2em 0 1.2em 0;
    background-color: #fff5f6;
}

.logo {
    width: 25%;
}

.menu {
    width: 50%;
}

nav a {
    text-decoration: none;
    padding: 0 1.5em 0;
    position: relative;
    color: var(--tert-clr);
    font-weight: bolder;
}

.checkout {
    width: 25%;
}

.hero {
    background-image: url(../img/hero2.jpg);
    background-size: cover;
    height: 90vh;
}

.product {
    display: flex;
    flex-direction: row;
    padding: 2.5em 2.5em 2.5em 2.5em;
    background-color: #fff5f6;
}

.product-design {
    width: 50%;
}

.product-custom {
    width: 50%;
}

.social-icon {
    color: black;
    padding: 0 1em 0 1em;
    font-size: 2em;
}

.product-gallery {
    color: var(--tert-clr);
    font-weight: bolder;
}

.feedback {
    background: linear-gradient(110deg, #7D1111 60%, #fff5f6 40%);
    padding-top: 2em;
}

.feedback h1 {
    padding-bottom: 0.7em;
    font-weight: bolder;
    color: white;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 800px;
    min-width: 350px;
    min-height: 250px;
    padding-bottom: 40px;
    overflow: hidden;
}

.wrapper {
    width: 300%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.card {
    width: 800px;
    min-height: 100%;
    display: flex;
    background: white;
    padding: 20px;
    margin: 0 1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.card-thumb {
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.card-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-body {
    width: 120%;
    height: auto;
    margin-left: 20px;
    position: relative; 
    padding-bottom: 50px;
}

.body-review {
    font-size: 1.2em;
    line-height: 30px;
    margin-top: 30px;
}

.indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1em;
}

.indicators button {
    background: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5px;
    transition: 0.5s;
}

button.active {
    width: 40px;
    border-radius: 50px;
    background: white;
}

.about {
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
}

.about-text {
    text-align: center;
    width: 60%;
    padding-left: 1em;
}

.about-text h2 {
    padding: 1em 0 0.7em 0;
    color: white;
}

.about-text p {
    padding-bottom: 1em;
    color: white;
}

.about-img {
    width: 40%;
    padding-top: 0.3em;
    padding: 1em 0 1em 1em;
}

.about-img img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

footer {
    padding: 1.2em 0em 1.2em;
    border-top: 1px solid black;
    background-color: #fff5f6;
}

footer a {
    text-decoration: none;
    padding: 0 1.5em 0;
    position: relative;
    color: black;
    color: var(--tert-clr);
    font-weight: bolder;
}